@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
  --secondary-color: #F8FFF5;
  --secondary-color-2: #c5e3b9;
  --primary-color: #069464;
  --black: #001012;
}

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    background: var(--secondary-color);
    color: var(--black);
  }
  ::selection {
    background-color: var(--secondary-color-2);
    color: var(--black);
  }
  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply mb-3;
    @apply mt-3;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply mb-3;
    @apply mt-3;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply mb-3;
    @apply mt-3;
  }
}

.header-menu {

}

.home-content {
  font-family: "Red Rose", serif;
}

.home-content h1 {
  font-weight: 700;
}

.home-content h1 span {
  color: var(--primary-color)
}

.post-details p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight pre {
  padding: 10px;
}